body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    align-items: center;
    background-color: aliceblue;
}

.header {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .grid-create-button {
        font-size: 25px;
        font-weight: bolder;
        font-family: cursive;
        color: rgb(255, 214, 152);
        background-color: rgb(103, 156, 248);

    }
    .grid-size {
        font-size: 30px;
    }

.grid {
    display: flex;
    flex-direction: column;
    flex: 10;
    width: 50%;
    height: auto;
    border: 1px solid;
    box-shadow: 5px 5px 10px #aaa;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;

}

.footer {
    flex: 2;
}

.active {
    background-color:rgb(103, 156, 248);
}